[access]
	inheritFrom = All-Projects
[project]
	description = Secret Management Service that will contain the webservice as well as client code for managing and accessing secrets.\n\nMoved to read-only as per RELENG-3648
	state = read only
[submit]
	action = rebase if necessary
[access "refs/*"]
	read = group GitHub Replication
	owner = group saml/onap-gerrit-aaf-sms-committers
[plugin "its-jira"]
	enabled = true
