{
    "cafile":     "auth/selfsignedca.pem",
    "servercert": "auth/server.cert",
    "serverkey":  "auth/server.key",

    "vaultaddress":     "http://localhost:8200",
    "vaulttoken":       "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee"
}
