{
    "cafile":     "certs/aaf_root_ca.cer",
    "servercert": "certs/aaf-sms.pub",
    "serverkey":  "certs/aaf-sms.pr",
    "password": "c2VjcmV0bWFuYWdlbWVudHNlcnZpY2VzZWNyZXRwYXNzd29yZAo=",

    "smsdbaddress":     "http://localhost:8200",
    "vaulttoken":       "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
    "smsdburlenv" :     "SMSDB_URL"
}
