{
    "cafile":     "auth/aaf_root_ca.cer",
    "servercert": "auth/aaf-sms.api.simpledemo.onap.org.pem",
    "serverkey":  "auth/aaf-sms.api.simpledemo.onap.org.pr",

    "smsdbaddress":     "http://localhost:8200",
    "vaulttoken":       "aaaaaaaa-bbbb-cccc-dddd-eeeeeeeeeeee",
    "smsdburlenv" :     "SMSDB_URL"
}
